@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title: 28px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 16px;
    }



    /*---------------
        Main menu
    ---------------*/
    .main_menu .close_btn
    {
        width: 24px;
        height: 24px;
    }


    .main_menu .data
    {
        font-size: 25px;

        padding: 32px;
    }



    /*-----------------
        Main search
    -----------------*/
    .main_search .close_btn
    {
        width: 24px;
        height: 24px;
    }


    .main_search .data
    {
        padding: 32px;
    }


    .main_search .title
    {
        font-size: 24px;

        margin-bottom: 16px;
    }


    .main_search form .input
    {
        height: 72px;
        padding: 0 75px 0 23px;
    }


    .main_search form .submit_btn
    {
        right: 24px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        justify-content: center;
    }


    .pagination .load_more_btn
    {
        width: 100%;
        margin-top: 20px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding: 12px 0;
    }


    header .menu_btn
    {
        font-size: 13px;

        margin-left: 24px;
    }

    header .menu_btn span
    {
        display: none;
    }

    header .menu_btn .icon
    {
        margin-left: 0;
    }

    header .menu_btn .icon + .icon
    {
        margin-left: 5px;
    }


    header .search_btn,
    header .links
    {
        margin-left: 20px;
    }


    header .socials
    {
        margin-top: 12px;
        padding-left: 0;
    }


    header .phone
    {
        font-size: 15px;

        margin-top: 12px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        padding: 148px 0 40px;
    }


    .page_head .title
    {
        font-size: 26px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns > *
    {
        width: calc(100% - var(--form_columns_offset));
    }



    /*----------------
        Typography
    ----------------*/
    .text_block ul.padding
    {
        padding-left: 40px;
    }



    /*----------------
        Categories
    ----------------*/
    .categories .category
    {
        font-size: 15px;

        padding: 24px 20px;
    }


    .categories .category .thumb
    {
        width: 110px;
        height: 110px;
    }



    /*--------------
        Partners
    --------------*/
    .partners .row > *
    {
        width: calc(50% - 8px);
    }


    .partners .item
    {
        padding: 16px;
    }



    /*-----------
        Certs
    -----------*/
    .certs .row > *
    {
        width: calc(50% - 16px);
    }



    /*------------------
        Presentation
    ------------------*/
    .presentation .item
    {
        height: 160px;
    }


    .presentation .item .icon img
    {
        width: 40px;
        height: 40px;
    }


    .presentation .item .name
    {
        font-size: 16px;
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info table tr
    {
        min-height: 0;
        padding-left: 0;
    }


    .cart_info table td.thumb
    {
        position: relative;
        top: 0;

        width: 100%;
        margin-bottom: 16px;
    }

    .cart_info table td.thumb a
    {
        width: 120px;
        height: 120px;
        margin: 0 auto;

        border-radius: 8px;
    }


    .cart_info table td.name
    {
        font-size: 16px;
        line-height: 22px;

        padding: 0;

        text-align: center;
    }


    .cart_info table td.buy
    {
        position: relative;
        bottom: 0;

        width: 50%;
        margin-top: 26px;
        padding-top: 0;
    }


    .cart_info table td.buy .btn
    {
        width: 116px;
    }



    /*----------------
        Order form
    ----------------*/
    .order_form .block_title
    {
        font-size: 30px;

        margin-bottom: 40px;
    }


    .order_form .data
    {
        padding: 0;

        background: none;
    }


    .order_form .form .input
    {
        font-size: 14px;
    }


    .order_form .form .checkbox
    {
        font-size: 13px;
    }



    /*--------------
        Products
    --------------*/
    .products .row
    {
        margin-left: 0;

        --products_count: 1;
    }

    .products .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .products .product
    {
        padding: 20px;
    }



    /*--------------
        Feedback
    --------------*/
    .feedback .block_title
    {
        font-size: 33px;
        line-height: 41px;
    }



    /*-------------
        LK info
    -------------*/
    .lk_info .orders .number,
    .lk_info .orders .status
    {
        width: 92px;
    }

    .lk_info .orders .date,
    .lk_info .orders .price
    {
        width: calc(100% - 93px);
    }



    .lk_info .cart_info table td.buy
    {
        width: 50%;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .images .image
    {
        height: 360px;
    }


    .product_info .images .thumbs
    {
        margin-top: 8px;
        margin-bottom: -8px;
        margin-left: -8px;
    }

    .product_info .images .thumbs > *
    {
        width: calc(20% - 8px);
        margin-bottom: 8px;
        margin-left: 8px;
    }


    .product_info .images .thumbs .btn
    {
        height: 68px;
        padding: 4px;
    }


    .product_info .product_name
    {
        font-size: 28px;
        line-height: 36px;
    }


    .product_info .buy
    {
        padding: 23px 19px;
    }



    .product_info .description .title
    {
        font-size: 28px;
        line-height: 36px;
    }



    /*------------
        Cookie
    ------------*/
    .cookie .text
    {
        width: 100%;

        text-align: center;
    }

    .cookie .text br
    {
        display: none;
    }


    .cookie .close_btn
    {
        width: 100%;
        margin-top: 12px;
    }



    /*--------------------
        Privacy policy
    --------------------*/
    .privacy_policy .title
    {
        font-size: 16px;
        line-height: 22px;
    }



    /*---------------
        Vacancies
    ---------------*/
    .vacancies .vacancy .name,
    .vacancies .vacancy .section .label,
    .vacancies .vacancy .section .items
    {
        font-size: 14px;
        line-height: 22px;
    }



    /*------------
        Footer
    ------------*/
    footer .col
    {
        display: flex;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;

        width: 100%;
        margin-bottom: 40px;
    }


    footer .socials
    {
        margin-top: 0;
        margin-left: auto;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        padding: 40px 24px;
    }


    .modal .form .input
    {
        height: 48px;
        padding: 0 15px;
    }


    .modal .form .submit_btn
    {
        width: 144px;
        height: 48px;
    }
}
